*{}
/* banner related */
.banner_pic {position: relative; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;font-family: Merriweather;}

  .banner_title{color:black;
    text-align: center;
    
    font-size: 30px;
    
    font-weight: 400;
    
    position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .banner_write{color:red;
    text-align: center;
    
    font-size: 60px;
    
    font-weight: 900;
    
    position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  text-justify: inter-word;
  }
 .section{text-align: center;}
 .section h1{color:red;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0;
 } 
  .section h6{color: red;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 0;
    } 
    .section h3{color:black;
      text-align: center;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;padding: 0;
    margin: 0;
  margin-bottom: 30px;}      
    

  .outside {position: relative; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;font-family: Merriweather;}

  .first_big_text{color:whitesmoke;
    text-align: left;
    
    font-size: 100px;
    
    font-weight: 400;
    
    position: absolute;
  margin-top:-500px;
  margin-left: 180px;
  ;
  
  }

.second_small_text{color:whitesmoke;
    text-align: left;
    
    font-size: 20px;
    
    font-weight: 400;
    
    position: absolute;
  margin-top:-250px;
  margin-left: 180px;
}
.last_small_button

{color:whitesmoke;
  text-align: left;
  
  font-size: 20px;
  
  font-weight: 1000;
  
  position: absolute;
margin-top:-150px;
margin-left: 230px;
background-color: transparent;
border: none;
}
.inside
{
  position: absolute;
  margin-top:-530px;
  margin-left: 950px;
width: 320px;
height: 465px;
}
  
  